/* comic-neue-100 - latin */
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/comic-neue/comic-neue-v23-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Comic Neue Light'), local('ComicNeue-Light'),
       url('/fonts/comic-neue/comic-neue-v23-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/comic-neue/comic-neue-v23-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-100.woff') format('woff'), /* Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/comic-neue/comic-neue-v23-latin-100.svg#ComicNeue') format('svg'); /* Legacy iOS */
}

/* comic-neue-regular - latin */
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/comic-neue/comic-neue-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Comic Neue Regular'), local('ComicNeue-Regular'),
       url('/fonts/comic-neue/comic-neue-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/comic-neue/comic-neue-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/comic-neue/comic-neue-v23-latin-regular.svg#ComicNeue') format('svg'); /* Legacy iOS */
}

/* comic-neue-300 - latin */
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/comic-neue/comic-neue-v23-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Comic Neue Medium'), local('ComicNeue-Medium'),
       url('/fonts/comic-neue/comic-neue-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/comic-neue/comic-neue-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/comic-neue/comic-neue-v23-latin-300.svg#ComicNeue') format('svg'); /* Legacy iOS */
}

/* comic-neue-700 - latin */
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/comic-neue/comic-neue-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Comic Neue Bold'), local('ComicNeue-Bold'),
       url('/fonts/comic-neue/comic-neue-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/comic-neue/comic-neue-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/comic-neue/comic-neue-v23-latin-700.svg#ComicNeue') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ComicNeue-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/comic-neue/comic-neue-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Comic Neue Bold'), local('ComicNeue-Bold'),
       url('/fonts/comic-neue/comic-neue-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/comic-neue/comic-neue-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/comic-neue/comic-neue-v23-latin-700.svg#ComicNeue') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ComicNeue-Regular';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/comic-neue/comic-neue-v23-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Comic Neue Regular'), local('ComicNeue-Regular'),
       url('/fonts/comic-neue/comic-neue-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/comic-neue/comic-neue-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/comic-neue/comic-neue-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/comic-neue/comic-neue-v23-latin-300.svg#ComicNeue') format('svg'); /* Legacy iOS */
}

/* coming-soon-regular - latin */
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/coming-soon/coming-soon-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Coming Soon Regular'), local('ComingSoon-Regular'),
       url('/fonts/coming-soon/coming-soon-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/coming-soon/coming-soon-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/coming-soon/coming-soon-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/coming-soon/coming-soon-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/coming-soon/coming-soon-v11-latin-regular.svg#ComingSoon') format('svg'); /* Legacy iOS */
}

/* quicksand-300 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/quicksand/quicksand-v7-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Quicksand Light'), local('Quicksand-Light'),
       url('/fonts/quicksand/quicksand-v7-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quicksand/quicksand-v7-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quicksand/quicksand-v7-latin-300.svg#Quicksand') format('svg'); /* Legacy iOS */
}

/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/quicksand/quicksand-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
       url('/fonts/quicksand/quicksand-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quicksand/quicksand-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quicksand/quicksand-v7-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}

/* quicksand-500 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/quicksand/quicksand-v7-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Quicksand Medium'), local('Quicksand-Medium'),
       url('/fonts/quicksand/quicksand-v7-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quicksand/quicksand-v7-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quicksand/quicksand-v7-latin-500.svg#Quicksand') format('svg'); /* Legacy iOS */
}

/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/quicksand/quicksand-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Quicksand Bold'), local('Quicksand-Bold'),
       url('/fonts/quicksand/quicksand-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quicksand/quicksand-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quicksand/quicksand-v7-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Quicksand-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/quicksand/quicksand-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Quicksand Bold'), local('Quicksand-Bold'),
       url('/fonts/quicksand/quicksand-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quicksand/quicksand-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quicksand/quicksand-v7-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Quicksand-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/quicksand/quicksand-v7-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Quicksand Medium'), local('Quicksand-Medium'),
       url('/fonts/quicksand/quicksand-v7-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quicksand/quicksand-v7-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quicksand/quicksand-v7-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quicksand/quicksand-v7-latin-500.svg#Quicksand') format('svg'); /* Legacy iOS */
}