@import url("/css/styles.css");

#mainlogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

li img {
    height: 35px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2D313A;
}

li {
  display: inline-block;
}

li a, .dropbtn {
	display: block;
	color: #A8DCFF;
	align-content: center;
	padding: 8px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #454D5F;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #2D313A;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #A8DCFF;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: #454D5F}

.dropdown:hover .dropdown-content {
	display: block;
}

ul.active{
	background-color: #42464D;
}

#search {
	width: 33%;
	margin: 0 auto;
}
