@import url("/css/styles.css");

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-container > div {
	width: 50%;
	margin: 0.5%;
}

.flex-container > div.custom {
	
	border: 1px solid #f7f7f7;
	border-radius: 10px;
	box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70,70,70,0.15);
	
}

.powerpoint {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 840px;
	width: 75%;
	border: 1px solid #f7f7f7;
	border-radius: 10px;
	box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70,70,70,0.15);
}

img.information {
	height: 35px;
	vertical-align: middle;
}