@import url("/css/styles.css");

.column {
	float: left;
	width: 33.33%;
}

/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

img.information {
	height: 35px;
	vertical-align: middle;
}

.twitter-timeline {
    width: 100vw !important;
}