@import url("/css/fontstyles.css");

body {
background-color: #1E1F21;
}

*{
  font-family: "Quicksand";
}

h1 {
	color: #A8DCFF;
	text-align: center;
	font-size: 36px;
	line-height:44px;
}

p {
	color: #A8DCFF;
	text-align: center;
	font-size: 20px;
	line-height:28px;
}
details {
	color: #A8DCFF;
	text-align: center;
	font-size: 20px;
	line-height:28px;
}
a {
	color: #16B2F2;
	text-decoration: none;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}