@import url("/archives/oldstyles.css");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
}

li a {
	display: block;
	color: #4500FF;
	padding: 14px 16px;
	text-decoration: none;
}