@import url("/styles.css");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #005596;
}

li a {
	display: block;
	color: #7dc7ea;
	padding: 14px 16px;
	text-decoration: none;
}