body {
background-color: #00ffff;
}

/* libre-franklin-regular - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/libre-franklin/libre-franklin-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin'), local('LibreFranklin-Regular'),
       url('/fonts/libre-franklin/libre-franklin-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/libre-franklin/libre-franklin-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/libre-franklin/libre-franklin-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/libre-franklin/libre-franklin-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/libre-franklin/libre-franklin-v2-latin-regular.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

*{
  font-family: "Libre Franklin";
}

.active {
  background-color: #4CAF50;
  color: white;
}

h1 {
	color: #7dc7ea;
	text-align: center;
	font-size: 36px;
	line-height:44px;
}

p {
	color: #7dc7ea;
	text-align: center;
	font-size: 20px;
	line-height:28px;
}
a {
	color: #2aabdf;
	text-decoration: none;
}