@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese');

* {
	
	font-family: 'Quicksand', sans-serif;
	
}

a {
	
	color: #0090FF;
	text-decoration: none;
	
}

body {
	
	background-color: #000062;
	
}

div {
	
	align-content: center;
	align-items: center;
	background-color: #000062;
	border: 1px solid #000062;
	border-radius: 10px;
	box-shadow: 7px 7px 17px #000053, -7px -7px 17px #000071;
	display: flex;
	justify-content: space-evenly;
	margin: 10px;
	padding: 12px;
	vertical-align: middle;
	
}

div.body {
	
	flex-flow: row wrap;
	flex-grow: 1;
	justify-content: space-evenly;
	width: 93.5%;
	
}

div.borderlessbody {
	
	border: 0px solid #000062;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #000053, 0px 0px 0px #000071;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 0px;
	padding: 0px;
	width: 100%;
	
}

div.copyright {
	
	flex-flow: row wrap;
	flex-grow: 1;
	justify-content: space-evenly;
	width: 93.5%;
	
}

div.dropdown-content {
	
	background-color: #000062;
	border: 1px solid #000062;
	border-radius: 10px;
	box-shadow: 7px 7px 17px #000053, -7px -7px 17px #000071;
	display: none;
	margin: 12px;
	min-width: 160px;
	padding: 8px;
	position: absolute;
	z-index: 1;
	
}

div.dropdown-content a {
	
	color: #0090FF;
	display: block;
	margin: 12px;
	padding: 12px 16px;
	text-align: center;
	text-decoration: none;
	
}

div.dropdown-content a:hover {
	
	box-shadow: inset 7px 7px 17px #000053, -7px -7px 17px #000071;
	
}

div.entire {
	
	align-content: center;
	align-items: center;
	background-color: #000062;
	border: 0px solid #000062;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #000053, 0px 0px 0px #000071;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	justify-content: space-evenly;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	width: 100%;
	
}

div.img {
	
	justify-content: center;
	width: 50%;
	
}

div.img > img {
	
	width: 100%;
	
}

div.img40 {
	
	justify-content: center;
	width: 40%;
	
}

div.img40 > img {
	
	width: 100%;
	
}

div.mainlogo {
	
	border: hidden;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #000062, 0px 0px 0px #000062;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	
}

div.member {
	
	align-content: space-evenly;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 60%;
	
}

div.member > div.img {
	
	width: 40%;
	
}

div.member > p {
	
	text-align: right;
	
}

div.navigation {
	
	border: hidden;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #000062, 0px 0px 0px #000062;
	display: flex;
	flex-flow: column;
	margin: 0px;
	padding: 0px;
	
}

div.navigation > img {
	
	border: hidden;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #000062, 0px 0px 0px #000062;
	margin: 0px;
	padding: 0px;
	
}

div.p {
	
	flex-flow: column wrap;
	flex-grow: 1;
	justify-content: space-evenly;
	width: 100%;
	
}

div.spotify {
	
	flex-grow: 1;
	justify-content: space-evenly;
	
}

div.video {
	
	justify-content: space-evenly;
	
}

div.widget {
	
	flex-grow: 1;
	justify-content: space-evenly;
	
}

img {
	
	width: 100%;
	
}

img.information {
	
	height: 35px;
	width: 35px;
	vertical-align: middle;
	
}

li {
	
	display: inline-block;
	list-style: none;
	
}

li a, .dropbtn {
	
	align-content: center;
	border: 1px solid #000062;
	border-radius: 10px;
	box-shadow: 7px 7px 17px #000053, -7px -7px 17px #000071;
	color: #000062;
	display: flex;
	margin: 12px;
	padding: 8px;
	text-decoration: none;
	
}

li.dropdown {
	
	display: inline-block;
	
}

li.dropdown:hover div.dropdown-content {
	
	display: block;
	
}

li a:hover, .dropdown:hover .dropbtn {
	
	box-shadow: inset 7px 7px 17px #000053, -7px -7px 17px #000071;
	
}

li img {
	
	height: 35px;
	width: auto;
	
}

p {
	
	color: #0052FF;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin: 12px;
	padding: 12px 12px;
	text-align: center;
	
}

span.blue {
	
	color: #0000FF;
	
}

span.red {
	
	color: #FF0000;
	
}

ul {
	
	border: 1px solid #000062;
	border-radius: 10px;
	box-shadow: 7px 7px 17px #000053, -7px -7px 17px #000071;
	margin: 2.5%;
	overflow: hidden;
	padding: 0.5%;
	width: 90%;
}