ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005596;
}

li {
  float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 016px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
	background-color: #003965;
}

li a, .dropbtn{
	display:inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.active{
	background-color: #002BFF;
}

li.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #003965;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}
.dropdown-content a {
	color: red;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a:hover {background-color: blue}

font-face {
	font-family: Quicksand;
	src: url(fonts/Quicksand-Regular.ttf);
	font-weight: normal;
}
font-face {
	font-family: Quicksand;
	src: url(fonts/Quicksand-Bold.ttf);
	font-weight: bold;
}

*{
  font-family: "Quicksand";
}

.active {
  background-color: #4CAF50;
  color: white;
}

p {
	color: black;
	text-align: center;
}
  
.Saturn {
}
