@import url("/styles.css");

.column {
    float: left;
    width: 100%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

p.l {
	color: #000000;
	text-align: left;
	font-size: 20px;
	line-height:28px;
	word-wrap: break-word;
}

span.w {
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	line-height:28px;
	word-wrap: break-word;
}
