@import url("https://www.nosiphus.com/master.css");

:root {
	
	--background-color: #212121;
	--box-shadow-light: #1C1C1C;
	--box-shadow-dark: #262626;
	--link-color: #FFAD00;
	--text-color: #FF6F00;
	
}